.DS_Store
node_modules/
/dist/
/config/*.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.env.js
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
test
package-lock.json
